* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg-color: #07868a;
    --secondary-bg-color: #080741;

    --glass-top: rgba(255,255,255,0);
    --glass-bottom: rgba(255,255,255,0.1)

}

/* ----- Global styles ----- */
.page-section {
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

.card {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.container h3 {
    padding-bottom: 1rem;
}

.container h2 {
    font-size: 36px;
}

hr {
    /* padding-bottom: 8px; */
}

.inv-hr {
    border-color: white;
    border-width: 1px;
    opacity: 0.2;
}

 


/* ----- Navigation ----- */

#nav-logo {
    width: 120px;
    height: auto;
}
.bg-dark {
    background-color: black !important;
}
.nav-link {
    text-align: left !important;
    
}
.navbar-nav .nav-link {
    padding-left: 5%;
}
.navbar-nav {
    padding-top: 2%;
}


/* ----- About me section ----- */
/* Card styles */
.about-me {
    background-color: black;
}

.card-headshot {
    height: 250px;
    width: 250px;
    background-color: white;
    border-radius: 125px;
    margin: 3rem;
}

.headshot-body {
    color: white;
    padding: 2rem;
    /* padding-top: 20rem; */
    
}

.headshot-body p {
    margin: 0;
    text-align: right;
    font-size: 20px;
    position: bottom;
}

.about-me-card {
    background-image: url('/media/images/frontDoor.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
}

.background-card {
    border-radius: 35px;
    box-shadow: none;
}

.card-body {
    color: white;
    background-color: black;
}
.card-body ul {
    margin-left: 3rem;
    margin-bottom: 2rem;
}
.card-body h4 {
    margin-bottom: 1rem;
}

.btn-about {
    background-color: white;
    border-color: rgba(0, 0, 0, 0);
    width: fit-content;
    border-radius: 30px;
}

/* Button hover effect */
.btn-about:hover {
    background-color: white;
    color: #B53471;
    border-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
}

/* Align button to the right */
.button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Adjust margin and padding for the button */
.button-container .btn-about {
    margin: 0;
    padding: 10px 20px;
}

/* ----- Hero ----- */
.jumbotron {
    background-image: url('../media/images/storeFront.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    max-height: fit-content;
    margin-bottom: 0; /* Remove default margin */
    display: flex;
    align-items: center; /* Vertically center content */
    border-radius: 0%;
    color: white;
}

.jumbotron-body {
    padding: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
}

.btn-lg {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    width: 150px;
    border-radius: 25px;
    ;
} 

.btn-lg:hover {
    background-color: white;
    color: var(--secondary-bg-color);
    transition: background-color 0.3s ease-out;
}


/* ----- Projects ----- */
.portfolio {
    background: linear-gradient(to bottom, black, #1d150a);
}

.portfolio h2 {
    color: white;
}

.portfolio hr {
    color: white;
}

.portfolio-item {
    border-radius: 25px;
    overflow: hidden;
    border: none;
    background: linear-gradient(to bottom right, var(--glass-bottom),var(--glass-bottom));
    color: white;
}

.card-img-large {
    height: ;
}

.row {
    padding-bottom: 1rem;
}

.portfolio-item:hover {
    transform: scale(1.025);
    transition: transform 0.3s ease-out;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(0, 0, 0, 0);
    width: fit-content;
    border-radius: 20px;
    
}

.btn-primary:hover {
    background-color: white;
    color: #B53471;
    border-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
} 

.colabs-container {
    display: flex;
    flex-direction: column;
}

/* ----- Skills ----- */
.page-section.skills {
    background: linear-gradient(to bottom, #1d150a, black);
    background-repeat: no-repeat;
    background-size: 100%;
    max-height: fit-content;
    background-position: center;
    color: white;
}

.skill-card {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 35px;
}

/* ----- Residents ----- */
.residents {
    background: linear-gradient(to bottom, black, #2b1e0b);
}

.residents h2 {
    color: white;
}

.residents hr {
    color: white;
}

.resident-item {
    border-radius: 25px;
    overflow: hidden;
    border: none;
    background: linear-gradient(to bottom right, var(--glass-bottom),var(--glass-bottom));
    color: white;
}

.card-img-large {
    height: ;
}

.row {
    padding-bottom: 1rem;
}

.resident-item:hover {
    transform: scale(1.025);
    transition: transform 0.3s ease-out;
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(0, 0, 0, 0);
    width: fit-content;
    border-radius: 20px;
    
}

.btn-primary:hover {
    background-color: white;
    color: #B53471;
    border-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease-out;
} 

/* ----- Contact me ----- */
.contact-me {
    background-image: url('../media/images/IMG_5445.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

.contact-me {
    color: white;
}

.social-icons-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons-row a {
    padding: 20px;
}

.contact-animation {
    display: flex;
    justify-content: center;
}

.contact-animation img{
    width: 150px;
    height: 150px;
    padding: 1rem;
}



@media (max-width: 768px) {
    /* Global styles */
    .page-section {
        padding: 0.5rem;
    }
    .card-headshot {
        width: 200px;
        height: 200px;
    }
    .container h2 {
        padding-top: 1.5rem;
    }
    .flex-row {
        /* padding: 3.25rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .jumbotron-body {
        padding: 2rem;
    }
    .page-section.skills {
        background-size: cover;
    }
    .skill-card {
        background-color: rgba(255, 255, 255, 0.8);
    }
    .social-icons-row {
        display: flex;
        flex-direction: column;
        justify-content;
    }
    .social-icons-row h2 {
        padding-bottom: 3rem;
    }

    .colabs-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .colabs-container .card {
        flex: 0 0 48%; /* Adjust to desired width, such as 48% for two cards per row with some gap */
        margin: 1%; /* Adjust to add spacing between cards */
    }

    /* headshot */
    .headshot-body {
        color: white;
        padding: 2rem;
        padding-top: 20rem;
    }

    .card-body {
        margin-bottom: 0%;
    }

    /* navbar */
    .nav-link {
        color: white !important;
        text-align: center !important;
    }

    /* jumbotron */
    
}